<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>

		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>

		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:3307/AlignPrivate
		</property>

		<property name="hibernate.connection.user">
			root
		</property>

		<property name="hibernate.connection.password">
			Turkey#786
		</property>

		<!-- List of XML mapping files -->
		<mapping resource="Companies.hbm.xml" />
		<mapping resource="Students.hbm.xml" />
		<mapping resource="Terms.hbm.xml" />
		<mapping resource="Administrators.hbm.xml" />
		<mapping resource="Courses.hbm.xml" />
		<mapping resource="Experiences.hbm.xml" />
		<mapping resource="Electives.hbm.xml" />

	</session-factory>
</hibernate-configuration>